html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

body,
#root {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}